@model Otomat.Models.Siniflar.Odeme

@{
    ViewBag.Title = "AddOdeme";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container" style="background-color: #212529; width: 500px; height: 550px; position: center; margin-top: 10px;color:white; border: 5px solid #808080">

    <h5 style="color:white;margin-top:25px">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-cart3" viewBox="0 0 16 16" alignment-baseline="central">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg>Ödeme Ekranı
    </h5>
    <br />
    <form class="form-group" method="post">
        <div class="form-control">
            <p>Ödeme Yöntemini Seçiniz </p>
            <hr />
            <input type="hidden" id="Id" name="Id">
            <input type="radio" id="TemasliOdeme" name="type" style="width:40px;height:15px" />
            <label for="TemasliOdeme">Temaslı Ödeme</label><br />
            <input type="radio" id="TemassizOdeme" name="type" style="width:40px;height:15px" />
            <label for="TemassizOdeme">Temassız Ödeme</label><br />
            <input type="radio" id="KagitOdeme" name="type" style="width:40px;height:15px" />
            <label for="KagitOdeme">Kağıt Ödeme</label><br />
            <input type="radio" id="MadeniOdeme" name="type" style="width:40px;height:15px" />
            <label for="MadeniOdeme">Madeni Ödeme</label><br />
            <label>Ödenen Tutar</label><input type="text" id="OdenenTutar" name="OdenenTutar" class="form-control" value="@ViewBag.Odenen" />
            <button type="submit" class="btn btn-dark">Ödeme Yap</button>
            <br />
            <label>İade Tutar</label><input type="text" id="Bakiye" name="Bakiye" class="form-control" value="@ViewBag.bakiye"/>
            <input type="text" id="Satis.Satisid" name="Satis.Satisid" value="@ViewBag.sid">
        </div>

    </form>


</div>
